html, body {
    /* width: 100%;
    height: 100%; */
    background-color: #121215;
  }

  .solar-panale{
    position:relative;
    width:700px;
    height:700px;
    overflow: hidden;
    margin:auto;
  }


  #sun{
    height:200px;
    width:200px;
	background-color: #fae20a;
    margin-top: -100px; 
    margin-left: -100px;
    border-radius: 50%;
    box-shadow: 0 0 84px orange;
  }

  .orbit {
    border: 1px dashed #666;
  }
  

#sun,.orbit,.orbit + div, .orbit + div > div{
    position:absolute;

}

#sun, .orbit, .orbit + div {
	top: 50%;
	left: 50%;
}
.orbit + div > div {
	top: 0;
  left: 50%;
}


.m1, .spin {

    width: 290px;
    height: 290px;
    margin-left: -147px;
    margin-top: -147px; 
    border-radius: 50%;

  }

#p1{
    width:30px;
    height:30px;
    background:#f30404;
    margin-top: -13.5px;
    margin-left: -13.5px;
    border-radius: 50%;
    box-shadow: 0 0 24px #ef7575;
}

/* venus */

#venus {
    margin-top: -20px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3498db;
    box-shadow: 0 0 34px #bdc3f0;
  }
  .venus-orbit, .venus-spin {
    border-radius: 50%;
    margin-top: -192px;
    margin-left: -192px;
    width: 380px;
    height: 380px;
  } 

  /* earth */

  .earth-v1, .earth{
    position: absolute;
    width: 480px;
    height:480px;
    border-radius: 50%;
    margin-left:-245px;
    margin-top:-245px;
  }

  #e1{
    margin-top: -20px;
    margin-left: -20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #04253b;
    box-shadow: 0 0 34px #bdc3f0;
  }


  /* Spinning animations */

@-webkit-keyframes spin-right {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-right {
    100% {
      transform: rotate(360deg);
    }
  }
  .venus-spin {
    -webkit-animation: spin-right 22s linear infinite;
            animation: spin-right 22s linear infinite;
  }

  .spin {
    -webkit-animation: spin-right 8.8s linear infinite;
            animation: spin-right 8.8s linear infinite;
  }
  .mars-spin {
    -webkit-animation: spin-right 68.7s linear infinite;
            animation: spin-right 68.7s linear infinite;
  }
  .earth {
    -webkit-animation: spin-right 36.5s linear infinite;
            animation: spin-right 36.5s linear infinite;
  }